<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marine Webserver</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/MWS_Styles.css') }}">
    <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}">
    <script src="{{ url_for('static', path='/js/gauges.js') }}"></script>  <!-- must be added BEFORE dashbord.js -->
    <script src="{{ url_for('static', path='/js/dashboard.js') }}"></script>
</head>
<body>
    <div class="container">
        <!--       
        <div class="grid">
            <div class="card">
                <p id="instdes_01" class="sv_instance_designator"> Engine 1</p>
                <p id="dtfld_01" class="sv_number"> - RPM</p>
                <p id="lbl_03" class="sv_label">Engine Speed</p>
            </div>
            
            <div class="card">
                <div id="dtfld_02" class="gauge-container"></div>
            </div>
            
            <div class="card">
                <p id="instdes_03" class="instance_designator"> </p>
                <p id="dtfld_03" class="number">2.4 bar</p>
                <p id="lbl_03" class="label">Oil Pressure</p>
            </div>
            
            <div class="card">
                <p id="instdes_04" class="instance_designator"> Engine 1</p>
                <p id="dtfld_04" class="number">1.2 bar</p>
                <p id="lbl_04" class="label">Boost Pressure</p>
            </div>
            
            <div class="card">
                <p id="instdes_05" class="instance_designator"> Tank 1</p>
                <p id="dtfld_05" class="number">45 %</p>
                <p id="lbl_05" class="label">Fuel Level</p>
            </div>
            
            <div class="card">
                <p id="instdes_06" class="instance_designator"> Tank 1</p>
                <p id="dtfld_06" class="number">93 %</p>
                <p id="lbl_06" class="label">Fresh Water</p>
            </div>
        </div>
        --> 
    </div>
</body>
</html>
